ENV=dev
PORT=3000

POSTGRES_HOST=postgres
POSTGRES_DB=chuongle_assignment
POSTGRES_DB_DEV=chuongle_assignment
POSTGRES_DB_TEST=chuongle_assignment
POSTGRES_USER=chuongle
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

BCRYPT_PASSWORD=watashi-tora-papa
SALT_ROUNDS=10

JWT_SECRET=in-fact-no-secret